html:not(.custom-motif) {
	background-color: hsl(325,100%,2%);
	color: hsl(105,37%,63%);
}
html:not(.custom-motif) > body > nav,
html:not(.custom-motif) > body > main,
html:not(.custom-motif) > body > dialog
{
	background-color: hsl(325,100%,3%);
}
html:not(.custom-motif) > body > nav a:hover,
html:not(.custom-motif) > body > dialog button:hover
{
	background-color: hsl(335,100%,6%);
	color: hsl(135,35%,65%);
}
html:not(.custom-motif) > body > nav a:active,
html:not(.custom-motif) > body > dialog button:active
{
	background-color: hsl(350,100%,6%);
	color: hsl(165,35%,65%);
}
html:not(.custom-motif) > body > main > article > nav a:hover {
	background-color: hsl(335,100%,6%);
	color: hsl(135,35%,65%);
}
html:not(.custom-motif) > body > main > article > nav a:active {
	background-color: hsl(350,100%,9%);
	color: hsl(165,35%,65%);
}